<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <app-song-display
                [mapForDisplaySong]="mapForDisplaySong"
                ></app-song-display>
            </div>
            <div class="col-4">
                <app-song-controller 
                (spread)="songControl($event)" 
                [songIsReproduced]="songIsReproduced"
                [existSongs]="existSongs">
                </app-song-controller>
            </div>
            <div class="col-4">
                <app-volume-controller 
                (propagar)="volumeControl($event)">
                </app-volume-controller>
            </div>
        </div>
    </div>
</div>