<!--<a href="https://stories.freepik.com/music">Illustration by Freepik Stories</a>  ILUSTRACIONES SACADAS DE AQUI-->
<div *ngIf="tracksForReproduce">
    <div class="container">
        <div>
            
        </div>
        <div class="row">
            <div class="albumdiv" *ngFor="let track of tracksForReproduce.data">
                <div class="itemsContainer">
                    <div> 
                        <a (click)="reproducirCancion(track)">  
                            <img class="image" [src]="track.album.cover_medium"/> 
                        </a>
                    </div>
                    <div class="play" (click)="reproducirCancion(track)">
                        <i class="fas fa-play fa-lg"></i>
                    </div>
                    <div class="titleOfAlbum">
                        {{track.title}} - {{track.album.title}}
                    </div>
                    <div class="nameOfArtist">
                        {{track.artist.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <a *ngIf="tracksForReproduce.prev" (click)="getAnotherPageTenAlbums(tracksForReproduce.prev)">❮</a>
        <a *ngIf="tracksForReproduce.next" (click)="getAnotherPageTenAlbums(tracksForReproduce.next)">❯</a>
    </div>
</div>
