.main {
    margin-left: 330px; /* Same width as the sidebar + left position in px */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media (max-width: 450px) {
    .main {margin-left: 0px;}
}