.sidebar {
    width: 330px;
    height: 100%;
    position: fixed;
    background: #662323;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    z-index: 100;
}
  
.sidebar a {
    padding: 4px 0px 4px 0px;
    text-decoration: none;
    color: white;
    display: block;
}

.sidebar a:hover {
    color: #EB5757;
}

.sidebar .adjustToFit{
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

.title{
    line-height: 27.5px;
    margin-top: 30px;
    font-size: 22px;
    font-family: 'Quicksand 700';
    cursor: pointer;
}

.subtitle{
    line-height: 20px;
    font-size: 16px;
    font-family: 'Quicksand 400';
    cursor: pointer;
}

@media (max-width: 750px) {
    .sidebar { 
        width: 150px;
    }
}