<div class="sidebar">
    <!--Logo-->
    <img class="adjustToFit" src="assets/img/foxbel-music.png" alt="">
    <!--Tittles-->
    <a class="title">Libreria</a>
    <div class="subtitle">
        <a [class.verde]="searchOption==1" (click)="changeOption(1)">· Top 10</a>
        <a class="">Artistas</a>
        <a [class.verde]="searchOption==2" class="" (click)="changeOption(2)">· Albums</a>
        <a [class.verde]="searchOption==3" class="" (click)="changeOption(3)">· Canciones</a>
    </div>
    <a class="subtitle">Estaciones</a> 
    <a class="title">Playlist</a>
    <a class="subtitle">Metal</a>
    <a class="subtitle">Para Bailar</a>
    <a class="subtitle">Rock 90's</a>
    <a class="subtitle">Baladas</a> 
</div>