<div class="sidebar">
    <!--Logo-->
    <img class="adjustToFit" src="assets/img/foxbel-music.png" alt="">
    <!--Tittles-->
    <a class="title">Libreria</a>
    <a class="subtitle">Recientes</a>
    <a class="subtitle">Artistas</a>
    <a class="subtitle">· Albums</a>
    <a class="subtitle">· Canciones</a>
    <a class="subtitle">Estaciones</a> 
    <a class="title">Playlist</a>
    <a class="subtitle">Metal</a>
    <a class="subtitle">Para Bailar</a>
    <a class="subtitle">Rock 90's</a>
    <a class="subtitle">Baladas</a> 
</div>