
.volume{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}
#container /deep/ .mat-accent .mat-slider-track-fill {
    background: white!important;
}
#container /deep/ .mat-accent .mat-slider-thumb {
    background: white!important;
}
.toRight{
    margin-left: 40px;
    line-height: 60px;
}