/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Quicksand 400";
    src: url("assets/fonts/Quicksand-Light.ttf") format("opentype");
    font-family: "Quicksand 700";
    src: url("assets/fonts/Quicksand-Bold.ttf") format("opentype");
}
*{
    margin:0;
}
html, body { height: 100%; }
body { margin: 0;  }
